@import '../../../node_modules/@angular/material/theming';
@import '../styles/core';

:host {
  display: inline-block;
}

.avatar {
  background-position: center;
  background-size:     cover;
  border:              2px solid white;
  border-radius:       50%;
  display:             block;
  height:              calc(100% - 4px);
  position:            relative;
  width:               calc(100% - 4px);
  @include mat-elevation(1);
}

.edit {
  background:  rgba(#000, 0.6);
  border:      none;
  bottom:      0;
  color:       white;
  font-family: Roboto, sans-serif;
  font-size:   0.875rem;
  font-weight: 500;
  height:      20%;
  position:    absolute;
  width:       100%;
}
