<ng-template #loadSpinner>
  <div class="df-tree-view-item__loader-container">
    <i class="{{options.iconLoading}}"></i>
  </div>
</ng-template>

<ul *ngIf="nodes.length && expanded"
    [@expandedState]
    class="df-tree-view-item__list">
  <li *ngFor="let node of nodes; index as i;"
      class="df-tree-view-item__content">
    <div class="df-tree-view-item__content-wrapper">
      <ng-container *ngIf="options.showHandlers;">
        <i *ngIf="!node?.loading; else loadSpinner"
           (click)="toggleExpand(node)"
           class="fa fas fa-fw item-content__handler"
           [class.fa-caret-down]="hasCaretDownIcon(node)"
           [class.fa-caret-right]="hasCaretRightIcon(node)"></i>
        <i (click)="toggleExpand(node)"
           class="fa fas fa-fw {{ getIconClasses(node) }} item-content__icon">
        </i>
      </ng-container>
      <ng-container *ngIf="!options.showHandlers">
        <i *ngIf="!node?.loading; else loadSpinner"
           (click)="toggleExpand(node)"
           class="fa fas fa-fw {{ getIconClasses(node) }} item-content__icon">
        </i>
      </ng-container>

      <div (click)="toggleSelect(i, $event)"
           (dblclick)="toggleExpand(node)"
           [class.item-content__name--disable]="node.disabled"
           [class.item-content__name--select]="node.selected"
           class="item-content__name">
        <ng-container *ngTemplateOutlet="node.template || nodeDefaultTemplate; context: { $implicit: node }"></ng-container>
      </div>
    </div>
    <df-tree-view-item *ngIf="hasNodes(node)"
                       (childSelected)="updateSelection($event)"
                       (selected)="passSelected($event)"
                       (deselected)="passDeselected($event)"
                       [expanded]="isExpanded(node)"
                       [singleExpanded]="singleExpanded"
                       [nodes]="node.nodes"
                       [options]="options">
    </df-tree-view-item>
  </li>
</ul>

<ng-template #nodeDefaultTemplate
             let-data>
  {{ data.name }}
</ng-template>
