<div class="code-section">
  <h2 class="code-section__title">Simple Usage</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Select items by clicking on them.
        <code>cmd/ctrl + click</code> to multiselect. Multiselect is disabled by default.</p>
      <df-tree-view [nodes]="nodes[0]"
                    [options]="options"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Add Child Nodes</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Click the icon to expand and collapse the node or just double click the name.</p>
      <p>Change the default icons of the folders using the
        <code>iconFolderOpened</code> and
        <code>iconFolderClosed</code> options.</p>
      <df-tree-view [nodes]="nodes[1]"
                    [options]="options"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Single Expanded Node</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Only let one node to be expanded at a time by using the input
        <code>singleExpanded</code>.</p>
      <df-tree-view [nodes]="nodes[8]"
                    [singleExpanded]="true"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Disabled Nodes</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Cannot interact with them.</p>
      <df-tree-view [nodes]="nodes[2]"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Set Your Favorite Icons</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>This is for the nodes without children.</p>
      <df-tree-view [nodes]="nodes[3]"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Listen For Selection Events</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>
        <code>selected</code> and
        <code>deselected</code> events are emitted when an item gets toggled.</p>
      <df-tree-view (selected)="selected($event)"
                    (deselected)="deselected($event)"
                    [nodes]="nodes[4]">
      </df-tree-view>
      <p [innerHTML]="message"></p>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Access Nodes From Outside</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Add a
        <code>#reference</code> to the element and then access the
        <code>nodes</code> in your code at
        <code>reference.nodes</code>.</p>
      <df-tree-view #target
                    [nodes]="nodes[5]"></df-tree-view>
      <button (click)="callback(target, '1')"
              df-button>Toggle 1</button>
      <button (click)="callback(target, '2')"
              df-button>Toggle 2</button>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Custom Folder icons</h2>
  <div class="row mb-4">
    <div class="col-md-5">
      <p>Click on the folder with custom icons.</p>
      <df-tree-view [nodes]="nodes[6]"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Flat Folder listing</h2>
  <div class="row mb-4">
    <div class="col tree-view__container">
      <p>Click on the folder to view flattened hiearchy.</p>
      <p>The folders are flattened by setting
        <code>collapseFolders</code> to true. The separator can be customized by setting
        <code>collapseFolderSeparator</code> as
        <code>' > '</code>.</p>
      <df-tree-view [nodes]="nodes[7]"
                    [options]="collapsedFolderOptions"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Custom Templates</h2>
  <div class="row mb-4">
    <div class="col tree-view__container">
      <p>
        You can define your own
        <code>template</code> to display custom content inside any particular node.
      </p>
      <df-tree-view [nodes]="nodes[9]"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
  <h2 class="code-section__title">Nodes with handlers</h2>
  <div class="row mb-4">
    <div class="col tree-view__container">
      <p>
        Enabling this feature will display handlers alongside the folder icons. This is useful in scenarios where the folder icons
        don't change based on its expanded/collapsed state.
      </p>
      <df-tree-view [nodes]="nodes[10]"
                    [options]="showHandlersOptions"></df-tree-view>
    </div>
  </div>
</div>

<div class="code-section">
    <h2 class="code-section__title">Lazy loading nodes</h2>
    <div class="row mb-4">
      <div class="col-md-5">
        <p>Children nodes can be lazy-loaded by implementing the
          <code>DfTreeViewLazyNode</code> interface.</p>
        <df-tree-view [nodes]="nodes[11]"
                      [options]="lazyOptions"></df-tree-view>
      </div>
    </div>
  </div>
