.df-tree-view {
  width: 100%;
  display: block;
  position: relative;
  overflow: auto;

  & > .df-tree-view-item > .df-tree-view-item__list {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }
}
